/* body styling */
body{
    text-align: left;
   background-color:lightsalmon;
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-size: 35px;
}


.container {
    text-align: left;

}

h2 {
    text-align: left;
}
 p {
     text-align: left;
 }
/* alignment for all the images */
img {
    text-align: right;
}
footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:lightpink;
        color: white;
        text-align: left;
     }

 


  

