body{
    text-align: left;
   background-color: aqua;
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-size: 35px;
}


.container {
    text-align: left;

}

h2 {
    text-align: left;
}
 p {
     text-align: left;
 }
img {
    text-align: right;
}
  
 


  

